@charset "utf-8";


html {
    font-size:62.5%;
}

body  {
    background-image: linear-gradient(#eaf6fd, #00aaff);
    min-height: 100vh;
    background-size: cover;
    font-family: "Open Sans";
    font-size: 1.6rem;
}

header{
    display: flex;
    justify-content: space-between;
}

nav{
    margin: 40px 20px 0;
}

img {
    max-width: 200px;
    height: auto;
}

section {
    font-size: 15px;
    font-weight: bold;
    color: brown;
}

.basicinfo dl dt{
    width: 165px;
    padding: 3px 0;
    float: left;
    clear: both;
}
.basicinfo dl dd {
    padding: 3px 0;
}


.magnitude dl dt{
    width: 165px;
    padding: 3px 0;
    float: left;
    clear: both;
}
.magnitude dl dd {
    padding: 2px 0;
}

.additonal dl dt{
    width: 165px;
    padding: 3px 0;
    float: left;
    clear: both;
}
.additional dl dd {
    padding: 3px 0;
}


.basicinfo {
    display: flex;
    margin: 8px;
}

.magnitude {
    display: flex;
    margin: 8px;
}

.additional {
    display: flex;
    margin: 8px;
}

.basic1 {
    margin: 8px;
}
.basic2 {
    margin: 8px;
}
.basic3 {
    margin: 8px;
}
.past3 {
    margin: 8px;
}
.past3 p {
    font-weight: bold;
}
.future3 {
    margin: 8px;
}
.future3 p {
    font-weight: bold;
}
.type {
    margin: 8px;
}
.reason {
    margin: 8px;
}
.startdate {
    margin: 8px;
}

.sendbtn :hover {
    text-align: center;
    font-weight: bold;
}