@charset "utf-8";


html {
    font-size:100%;
}

body  {
    min-height: 100vh;
    background-size: cover;
    font-family: "Open Sans";
    font-size: 1rem;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    font-weight: bold;
}

h1 {
    font-size: 20px;
    font-weight: bold;
    color: brown;
    margin: 30px 10px;
}

.baseinfo {
    display: flex;
    background-image: linear-gradient(#eaf6fd, #2279a5);
}

.baseinfo dt {
    margin: 5px;
    font-weight: bold;
}

.base1 {
    margin-left: 20px;
}
.base2 {
    margin-left: 20px;
}
.base3 {
    margin-left: 20px;
}

.qdata1 {
    display: flex;
    background-image: linear-gradient(#eaf6fd, #2279a5);
}
h2 {
    font-weight: bold;
    margin: 20px 10px;
}
.qtitle {
    font-size: 12px;
    margin: 10px 10px;
}

.ptitle {
    font-size: 15px;
    font-weight: bold;
    margin: 10px 10px;
    color: rebeccapurple;
}

.profit_result {
    margin: 10px 10px;
}

.profit_plan {
    margin: 10px 10px;
}

.headcount1 {
    margin: 10px 10px;
}

.profit_result dt {
    margin: 5px;
    font-weight: bold;
}

.profit_plan dt {
    margin: 5px;
    font-weight: bold;
}

.headcount1 dt {
    margin: 5px;
    font-weight: bold;
}

.kome {
    margin: 10px;
    font-size: 10px;
}

.additional {
    
}

/* 
#hosoku {
    font-size: 5px;
}

.basicinfo dl dt{
    width: 165px;
    padding: 3px 0;
    float: left;
    clear: both;
}
.basicinfo dl dd {
    padding: 3px 0;
}


.magnitude dl dt{
    width: 165px;
    padding: 3px 0;
    float: left;
    clear: both;
}
.magnitude dl dd {
    padding: 2px 0;
}

.additonal dl dt{
    width: 165px;
    padding: 3px 0;
    float: left;
    clear: both;
}
.additional dl dd {
    padding: 3px 0;
}


.basicinfo {
    display: flex;
    margin: 8px;
}

.magnitude {
    display: flex;
    margin: 8px;
}

.additional {
    display: flex;
    margin: 8px;
}

.basic1 {
    margin: 8px;
}
.basic2 {
    margin: 8px;
}
.basic3 {
    margin: 8px;
}
.past3 {
    margin: 8px;
}
.past3 p {
    font-weight: bold;
}
.future3 {
    margin: 8px;
}
.future3 p {
    font-weight: bold;
}
.bikou {
    margin: 8px;
}

.bikou p {
    font-weight: bold;
}

.type {
    margin: 8px;
}
.reason {
    margin: 8px;
}
.startdate {
    margin: 8px;
} */

.sendbtn :hover {
    text-align: center;
    font-weight: bold;
    margin: 20px;
}