@charset "utf-8";

html {
    font-size: 62.5%;
}

body {
    background-color: #7acbe1;
    font-family: "Open Sans";
    font-size: 1.6rem;
}

header{
    text-align: center;

}
.start {
    position: relative;
    text-align: center;
    margin-top: 100px;
}


.muta {
    border-radius: 50%;
}


footer {
    background: #7acbe1;
    text-align: center;
    padding: 15px 0;
    color: #fff;
    font-size: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
}