@charset "utf-8";

main {
    max-width: 760px;
    size: A4 portrait;
    margin: 20px;
}

.pagetitle {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

table, td, th   {
    border: 1px hsl(0, 0%, 50%) solid;
}

h1 {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
}
h2 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.grade {
    margin: 10px 20px;
}
.grade th {
    background-color: lightblue;
    width: 120px;
}
.grade td {
    width: 120px;
    text-align: center;
}
.first {
    margin: 10px 20px;
}
.first th {
    background-color: lightblue;
    width: 120px;
}
.first td {
    width: 600px;
    text-align: center;
}
.second {
    margin: 10px 20px;
}
.second th {
    background-color: lightblue;
    width: 120px;
}
.second td {
    width: 600px;
}

.wrapper {
    margin-top: 20px;
    margin-left: 20px;
}

.profit {
    display: flex;
}
.profit th {
    background-color: lightblue;
    width: 120px;
}
.profit td {
    width: 200px;
}




.third {
    margin: 5px;
}

.fourth {
    margin: 5px;
}

.fifth {
    margin: 5px;
}

.sixth {
    margin: 5px;
}

.seventh {
    margin: 5px;
}

.eighth {
    margin: 5px;
}

.ninth {
    margin: 5px;
}

.sendbtn {
    margin-top: 10px;
    padding: 20px;
    font-size: 30px;
}

.sendbtn :hover {
    font-weight: bold;
    color: maroon;
}