@charset "utf-8";

main {
    max-width: 700px;
    size: A4 portrait;
    margin: 0px;
}

table, td, th   {
    border: 2px #808080 solid;
}

.wrapper {
    margin-top: 20px;
    margin-left: 20px;
}

.first {
    margin: 5px;
}

.second {
    margin: 5px;
}

.third {
    margin: 5px;
}

.fourth {
    margin: 5px;
}

.fifth {
    margin: 5px;
}

.sixth {
    margin: 5px;
}

.seventh {
    margin: 5px;
}

.eighth {
    margin: 5px;
}

.ninth {
    margin: 5px;
}

.sendbtn {
    margin-top: 10px;
    padding: 20px;
    font-size: 30px;
}

.sendbtn :hover {
    font-weight: bold;
    color: maroon;
}